{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'page.index.title'|trans }}</h2>

    <div id="guide">
        <p class="intro">{{ 'page.index.body.intro'|trans }}</p>
        </br>

        <p>{{ 'page.index.body.sdk_discription'|trans({'%idp-entity-id%': url('gssp_saml_metadata', {})}) }}</p>

        </br>

        <div class='alert'>
            <h2>{{ 'page.index.body.registration.title'|trans }}</h2>
            <ul>
                <li>{{ 'page.index.body.registration.step1.go_to_sp'|trans }}
                    <a target="_blank" href="{{ demoSpUrl() }}">{{ 'service_provider'|trans }}</a>
                </li>
                <li>{{ 'page.index.body.registration.step2.select_idp'|trans({'%idp-entity-id%': url('gssp_saml_metadata', {})}) }}</li>
                <li>{{ 'page.index.body.registration.step3.click_login'|trans }}</li>
                <li>{{ 'page.index.body.registration.step4.click_register'|trans }}</li>
            </ul>
        </div>

        <div class='alert'>
            <h2>{{ 'page.index.body.authentication.title'|trans }}</h2>
            <ul>
                <li>{{ 'page.index.body.authentication.step1.go_to_sp'|trans }}
                    <a target="_blank" href="{{ demoSpUrl() }}">{{ 'service_provider'|trans }}</a>
                </li>
                <li>{{ 'page.index.body.authentication.step2.select_idp'|trans({'%idp-entity-id%': url('gssp_saml_metadata', {})}) }}</li>
                <li>{{ 'page.index.body.authentication.step3.fill_subject'|trans }}</li>
                <li>{{ 'page.index.body.authentication.step4.click_login'|trans }}</li>
                <li>{{ 'page.index.body.authentication.step5.click_authenticate'|trans }}</li>
            </ul>
        </div>

    </div>
{% endblock %}
